.m-t-xl { margin-top: $x-large-spacing !important; }
.m-r-xl { margin-right: $x-large-spacing !important; }
.m-b-xl { margin-bottom: $x-large-spacing !important; }
.m-l-xl { margin-left: $x-large-spacing !important; }
.m-a-xl  { margin: $x-large-spacing !important; }

.m-t-l { margin-top: $large-spacing !important; }
.m-r-l { margin-right: $large-spacing !important; }
.m-b-l { margin-bottom: $large-spacing !important; }
.m-l-l { margin-left: $large-spacing !important; }
.m-a-l { margin: $large-spacing !important; }

.m-v-r { margin: $regular-spacing 0 !important; }
.m-h-r { margin: 0 $regular-spacing !important; }
.m-t-r { margin-top: $regular-spacing !important; }
.m-r-r { margin-right: $regular-spacing !important; }
.m-b-r { margin-bottom: $regular-spacing !important; }
.m-l-r { margin-left: $regular-spacing !important; }
.m-a-r  { margin: $regular-spacing !important; }

.m-v-s { margin: $small-spacing 0 !important; }
.m-v-s { margin: $small-spacing 0 !important; }
.m-t-s { margin-top: $small-spacing !important; }
.m-r-s { margin-right: $small-spacing !important; }
.m-b-s { margin-bottom: $small-spacing !important; }
.m-l-s { margin-left: $small-spacing !important; }
.m-a-s { margin: $small-spacing !important; }

.m-v-xs { margin: $x-small-spacing 0 !important; }
.m-v-xs { margin: $x-small-spacing 0 !important; }
.m-t-xs { margin-top: $x-small-spacing !important; }
.m-r-xs { margin-right: $x-small-spacing !important; }
.m-b-xs { margin-bottom: $x-small-spacing !important; }
.m-l-xs { margin-left: $x-small-spacing !important; }
.m-a-xs { margin: $x-small-spacing !important; }

.p-t-xl { padding-top: $x-large-spacing !important; }
.p-r-xl { padding-right: $x-large-spacing !important; }
.p-b-xl { padding-bottom: $x-large-spacing !important; }
.p-l-xl { padding-left: $x-large-spacing !important; }
.p-a-xl { padding: $x-large-spacing !important; }

.p-t-l { padding-top: $large-spacing! important; }
.p-r-l { padding-right: $large-spacing !important; }
.p-b-l { padding-bottom: $large-spacing !important; }
.p-l-l { padding-left: $large-spacing !important; }
.p-a-l { padding: $large-spacing !important; }

.p-t-r { padding-top: $regular-spacing !important; }
.p-r-r { padding-right: $regular-spacing !important; }
.p-b-r { padding-bottom: $regular-spacing !important; }
.p-l-r { padding-left: $regular-spacing !important; }
.p-a-r { padding: $regular-spacing !important; }

.p-t-s { padding-top: $small-spacing !important; }
.p-r-s { padding-right: $small-spacing !important; }
.p-b-s { padding-bottom: $small-spacing !important; }
.p-l-s { padding-left: $small-spacing !important; }
.p-a-s { padding: $small-spacing !important; }

.p-t-xs { padding-top: $x-small-spacing !important; }
.p-r-xs { padding-right: $x-small-spacing !important; }
.p-b-xs { padding-bottom: $x-small-spacing !important; }
.p-l-xs { padding-left: $x-small-spacing !important; }
.p-a-xs { padding: $x-small-spacing !important; }

.m-a-0 { margin: 0 !important; }
.m-t-0 { margin-top: 0 !important; }
.m-r-0 { margin-right: 0 !important; }
.m-b-0 { margin-bottom: 0 !important; }
.m-l-0 { margin-left: 0 !important; }

.p-a-0 { padding: 0 !important; }
.p-t-0 { padding-top: 0 !important; }
.p-r-0 { padding-right: 0 !important; }
.p-b-0 { padding-bottom: 0 !important; }
.p-l-0 { padding-left: 0 !important; }
